
.image{
    background: url('../public/self-image.jpeg');
    border: 2px solid black;
    height:300px;
    width:300px;
    margin: auto;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border:none;
    outline: none;
}
